* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.grid {
  width: 770px;
  margin: 0 auto; }

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: #5dbdb1;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }

.btn:hover {
  border-radius: 50%;
  background-color: white;
  color: #5dbdb1; }

.footer {
  text-align: center; }
  .footer__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    margin-bottom: 15px; }

.border {
  margin-bottom: 25px; }

.contacts {
  background: url(../img/bg-contacts.jpg) center no-repeat/cover;
  background-attachment: fixed;
  padding-top: 94px;
  padding-bottom: 30px; }
  .contacts__description {
    text-align: center; }
    .contacts__description-telephone {
      font-family: 'Helvetica-thin';
      font-size: 48px;
      font-weight: 300;
      line-height: 0.5;
      color: #e76122;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .contacts__description-street {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 300;
      color: white;
      margin-bottom: 20px; }
    .contacts__description-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 25px; }
      .contacts__description-social li {
        list-style: none; }
      .contacts__description-social li:not(:last-child) {
        margin-right: 10px; }
  .contacts__form .btn {
    margin-bottom: 110px; }
  .contacts__form-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px; }
  .contacts__form-title {
    font-family: 'Helvetica-thin';
    font-size: 30px;
    font-weight: 300;
    color: #e76122;
    text-transform: uppercase;
    line-height: 0.8;
    margin-bottom: 20px;
    text-align: center; }
  .contacts__form-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: white;
    line-height: 1.714;
    text-align: center;
    margin-bottom: 30px; }
  .contacts__form-info {
    margin-right: 30px;
    width: 368px; }
    .contacts__form-info input {
      font-family: 'Open Sans', sans-serif;
      border-radius: 3px;
      width: 100%;
      padding: 15px;
      border: none;
      font-size: 14px; }
    .contacts__form-info input:not(:last-child) {
      margin-bottom: 15px; }
  .contacts__form-msg {
    width: 368px; }
    .contacts__form-msg textarea {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      border-radius: 3px;
      width: 100%;
      height: 100%;
      padding: 15px;
      border: none;
      resize: none; }

@media (max-width: 881px) {
  .border {
    width: 100%; } }

@media (max-width: 770px) {
  .grid {
    width: 100%; }
  .contacts__form-info {
    margin-bottom: 15px; }
  .contacts__form-info {
    margin-right: 0; }
  .contacts__description-telephone {
    font-size: 40px; } }

@media (max-width: 490px) {
  .contacts__description-telephone {
    font-size: 30px; } }
