@media (max-width: 881px) {
    .border {
      width: 100%; } }
@media (max-width: 770px) {
        .grid {
          width: 100%; }
        .contacts__form-info {
            margin-bottom: 15px;
        }
        .contacts__form-info {
            margin-right: 0;
        }
        .contacts__description-telephone {
            font-size: 40px;
        }
        }
@media (max-width: 490px) {
    .contacts__description-telephone {
        font-size: 30px;
    }
    
 }